.header-normal {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    padding: 0.75em 2em;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2) !important;
    background: #ffffff;
    height: 70px;
}

.profile-image {
    height: 30px;
    /* padding-right: 0.5em; */
}

.profile-image:hover {
    cursor: pointer;
}

.header-title {
    font-size: 1.5em;
    cursor: pointer;
}

.header-action {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-info {
    padding-right: 2em;
}

.header-link {
    padding: 0em 1em;
    cursor: pointer;
    color: #1890ff;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1677ff;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #1677ff transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 576px) {
    .header-drawer {
        display: block;
    }

    .header-normal {
        display: none;
    }
}


.ant-input-search {
    width: 30%;
}